log/*.log
tmp/**/*
tmp/*
feeds
public/system
\#*\#
.#*
*~
+*.swp
db/sphinx/**/*
**/*.bak
*.sw*
**/*.sw*
db/schema.rb
log/*.pid
doc/homepage.psd
public/assets
public/javascripts/categories.js
public/sitemap*.gz
*.log
*.log.gz
